div{
    width: 200px;
    height: 300px;
}
  .divSticky {
     background-color: aqua;
     position: sticky;
     top: 00px;
     left: 400px;

  }
  .divRelativo{
    background-color: forestgreen;
    position: relative;
    top: 120px;
    left: 300px;
  }
  .divFixed{
    background-color: chocolate;
    position: fixed;
    top: 200px;
    left: 200px;
  }
  .divStatic{
    background-color: dodgerblue;
    position: static;
    top: 100px;
    left: 250px;
  }
  .divAbsoluty{
    background-color: crimson;
    position: absolute;
    top: 100px;
    left: 100px;
  }
  .divAlignCenter{
    background-color: blueviolet;
    margin: 0 auto;
    position: center;
    
  }
  .divAlignRight{
    background-color: greenyellow;
    float: right;
  }
  .divAlignLeft{
    background-color: purple;
    float: left;
  }
  .divMenu{
    background-color: goldenrod;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    height: 50px;
  }
  .LogoUnipar{
    height: 40px;
    margin: 5px 5px 5px 5px;
  }
  .tituloMenu{
    position: fixed;
    top: 5px;
    left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    font-weight: bold;
  }
  
  
  
  